<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.usedvehicle.dao.Admin_userMapper" >
  <resultMap id="BaseResultMap" type="com.usedvehicle.beans.Admin_user" >
    <id column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="card" property="card" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="VARCHAR" />
    <result column="add_time" property="add_time" jdbcType="VARCHAR" />
    <result column="lastloginip" property="lastloginip" jdbcType="VARCHAR" />
    <result column="lastlogintime" property="lastlogintime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="img_url" property="img_url" jdbcType="VARCHAR" />
  </resultMap>
 
  <select id="selectAll" resultMap="BaseResultMap" >
   	SELECT * FROM Admin_user 
  </select>
  <select id="countAll"  resultType="java.lang.Integer" >
    SELECT count(1) FROM Admin_user where 1=1 
    <if test="name!=null and name !=''" >
      AND username LIKE CONCAT('%','${name}','%' ) 
     </if>
     
  </select>
   <delete id="delByID" >
    delete from Admin_user
    where userid = #{userid,jdbcType=VARCHAR}
  </delete>
    <select id="serchByPage" resultMap="BaseResultMap" ><!-- where name like #{name,jdbcType=VARCHAR} -->
     
     select * FROM Admin_user where 1=1 
     <if test="pagerHelperRQ.searchString!=null and pagerHelperRQ.searchString !=''">
      AND username LIKE CONCAT('%','${pagerHelperRQ.searchString}','%' ) 
     </if>
      <if test="pagerHelperRQ.sidx!=null and pagerHelperRQ.sidx !=''">
      		  order by ${pagerHelperRQ.sidx}
      		   <if test="pagerHelperRQ.sord!=null">
      		     ${pagerHelperRQ.sord}
     			</if>
     	</if>
       limit #{pagerHelperRQ.start,jdbcType=INTEGER},#{pagerHelperRQ.rows,jdbcType=INTEGER} 
       
      
  </select>
    <select id="serchById" resultMap="BaseResultMap" ><!-- where name like #{name,jdbcType=VARCHAR} -->
     
     select * FROM Admin_user where 1=1 
     <if test="id!=null and id !=''">
      AND userid= #{id,jdbcType=VARCHAR}
     </if>
  </select>

  
   <insert id="addone" parameterType="com.usedvehicle.beans.Admin_user" >
    
   INSERT INTO admin_user
            (userid,
             username,
             password,
             realname,
             mobile,
             email,
             card,
             roleid,
             add_time,
             lastloginip,
             lastlogintime,
             status,
             img_url)
    values (
    UUID()
    ,#{username,jdbcType=VARCHAR}
    ,#{password,jdbcType=VARCHAR}
    ,#{realname,jdbcType=VARCHAR}
    , #{mobile,jdbcType=VARCHAR}
    , #{email,jdbcType=VARCHAR}
    , #{card,jdbcType=VARCHAR}
    , #{roleid,jdbcType=VARCHAR}
    , #{add_time,jdbcType=VARCHAR}
    , #{lastloginip,jdbcType=VARCHAR}
    , #{lastlogintime,jdbcType=VARCHAR}
    , #{status,jdbcType=INTEGER}
    , #{img_url,jdbcType=VARCHAR}
    )
  </insert>
   <update id="modify" parameterType="com.usedvehicle.beans.Admin_user" >
   UPDATE admin_user
    username=#{username,jdbcType=VARCHAR},
    password=#{password,jdbcType=VARCHAR},
    realname=#{realname,jdbcType=VARCHAR},
    mobile=#{mobile,jdbcType=VARCHAR},
    email=#{email,jdbcType=VARCHAR},
    card=#{card,jdbcType=VARCHAR},
    roleid=#{roleid,jdbcType=VARCHAR},
     add_time=#{add_time,jdbcType=VARCHAR},
     lastloginip=#{lastloginip,jdbcType=VARCHAR},
     img_url=#{img_url,jdbcType=VARCHAR},
     status= #{status,jdbcType=INTEGER}  
    where userid=#{userid,jdbcType=VARCHAR}
  </update>
</mapper>